*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{
    width:100%;
    height: 100vh;
    background-image:linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3) );
    position: relative;
    padding:0 5%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container2{
    width:100%;
    height: 100vh;
    background-image:linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3) );
    position: relative;
    padding:0 5%;
    display: flex;
    align-items: center;
    justify-content: center;

}

nav{
    width:100%;
    position: absolute;
    top: 0;
    left: 0 ;
    padding: 30px  8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    height: 60px;
    width: 80px;

}

nav .logo:hover{
    border: 2px solid rgb(194, 159, 5);
    padding:5px 5px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 50px;

}

nav ul li a{ 
    text-decoration: none;
    color: #fff;
    font-size: 17x;
    -webkit-text-stroke: .2pt rgb(194, 159, 5);
    


}

nav ul li a:hover{
    border: 2px solid rgb(194, 159, 5);
    padding:5px 5px;


}

.content{
    text-align: center;
    padding-top: 90px;;
}

.content h1{
    font-size: 100px;
    color: rgb(236, 196, 18);
    font-weight: 600;
    transition: 0.5s;
    -webkit-text-stroke: .9pt rgb(248, 247, 245);
}

.content p{ /* font of paragraphs */
    font-size: 40px;
    color:rgb(236, 196, 18);
    font-weight: 60;
    padding-bottom: 1.2rem;
    -webkit-text-stroke: .8pt rgb(250, 248, 244);
    
}

.content p:hover{
    background-color: rgba(88, 88, 85, 0.699);
}

.content h1:hover{
    -webkit-text-stroke: 2px  rgb(194, 159, 5);
    color:transparent;
}

.content a{     /* button  */
    text-decoration: none;
    display: inline-block;
    color:rgb(194, 159, 5);
    font-size: 24px;
    border: 2px solid rgb(231, 230, 230);
    padding: 10px 10px;
    border-radius: 50px;
    margin-top: 20px;
    -webkit-text-stroke: .5pt rgb(247, 243, 243);
}

.content a:hover{

    border: 2px solid rgb(194, 159, 5);
    padding:9px 9px;
}


.back-video{
    position: absolute; 
    right: 0;
    bottom: 0;
    z-index:-1;
}



 img{
    opacity: ;
    height: auto;
}

.resume{
    opacity: 5;
}

@media (min-aspect-ratio: 4/3){
    .back-video{
        width:100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width:auto;
        height: 100%;
    }
} 

/* side nav build */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
 /* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } */



/* side nav build end */

/* content page  build */

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:100%;
    height:40vh;
    scroll-snap-align: center;
    
    
 }

 section h1{
    font-size: 3rem;
 }

 section p{
    font-size: 1.5rem;

}

/* content page  build end */

/* article setings */
.figure{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #content.container{
    display: flex;
    flex-wrap: row;
    justify-content: space-between;
  }
  
  article.post{
    width:80%;
    /* box-shadow: 0 4px 8px rgb(173, 132, 18); */
    padding-top: 10rem;
    padding:.6rem;
    font-size: .9rem;
    transition: .5rem;
  }
  
  article.post:hover{
    box-shadow:0 8px 16px rgb(13, 14, 14);  
  }
  
  article.post figure{
    margin:0;
  }
  
  article a:hover, article a:active{
    text-decoration:none;
  }

  /* id two   */

  #two{
    background: url(../img/DSC02539.JPG) no-repeat center/ 
    cover;

    
  }

  #three{
    background: url(../img/DSC02536.JPG) no-repeat center/ 
    cover;
  }

  
